.viewer {
  background-color: #ecedf3;
  padding-top: 15vh;
}

body {
  font-family: 'Noto Sans JP', sans-serif !important;
}

.ORLogin {
  display: flex; 
  flex-direction: row;
}

.FBButton, .GButton {
  width: 30px;
  height: 30px;
  background-color: #ecf0f34d;
  box-shadow: 6px 6px 12px #CBD4E3,
             -6px -6px 12px #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: inset 6px 6px 6px #cbd4e333,
  inset -6px -6px 6px #00000025 ;
}

.FBButton:hover, .GButton:hover {
  box-shadow: inset 6px 6px 6px #CBD4E3,
  inset -6px -6px 6px #ffffffc7 ;
}

.active {
  box-shadow: inset 6px 6px 6px #CBD4E3,
  inset -6px -6px 6px #ffffffc7 ;
}

.divider {
  display: flex;
  width: 70%;
  color: rgb(158, 158, 158);
}
.divider:before, .divider:after {
  content: "";
  flex: 1;
}
.line {
  align-items: center;
  margin: 1em -1em;
}
.line:before, .line:after {
  height: 1px;
  margin: 0 1em;
}
.one-line:before, .one-line:after {
  background: rgb(158, 158, 158);
}


.bodyLog {
  width: 80%;
  margin-left: 10%;
  border-radius: 30px;
  background-color: #edf2f7;
  box-shadow: 6px 6px 12px #CBD4E3,
             -6px -6px 12px #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.headerLog{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5vh;
  border-radius: 30px;
  background-color: #edf2f7;
  box-shadow: 6px 6px 12px #CBD4E3,
             -6px -6px 12px #fff;
}

.logh5 {
  width: 50%;
  text-align: center;
}
.bsct {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contSign {
  display: none;
}

.input {
  margin-top: 20px;
  border: none;
  border-radius: 15px;
  padding: 15px;
  background-color: #ECF0F3;
  box-shadow: inset 6px 6px 6px #CBD4E3,
              inset -6px -6px 6px #ffffffc7 ;
  font-size: medium;
  font-weight: bold;
  max-width: 70%;
 }
 
 .input:focus {
  outline-color: rgba(255, 255, 255, 0.486);
  place-content: "Enter your message!";
 }

.btn {
  outline: none;
  border: none;
  width: 50%;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #3648ce;
  color: #ECF0F3;
  padding: 10px;
  font-size: medium;
  box-shadow: 6px 6px 12px #CBD4E3;
}