@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--clr);
    height: 100vh;
}
main {
    width: 100%;
    height: 100%;
    background-color: #01c2ed;
}
.title-header{
    padding: .2em;
    height: 15%;
    display: flex;
    justify-content: center;
}
.title-header a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:black;
}
.order-container{
    position: relative;
    background: rgba(255,255,255, .5);
    padding-top: 3em;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-container::before{
    content:'';
    position: absolute;
    background: rgba(255,255,255, .15);
    inset: 0;
    transform:rotate(-5deg);
    z-index: -1;
}
.order-container button{
    
    
    border-radius: 5px;
    width: 80px;
    height: 30px;
    font-size: .7em;
    text-transform: uppercase;
    background:#5d62e7c8;
    color:white;
    border:none;
}
.order-container button:hover{
    background:#5d62e7ed;
    border:1.5px solid black;
}
.order-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid black;
    border-radius: 20px;
    background: #e0e0e08c;
    box-shadow: inset 2px 2px 8px #d7d7d798,
            inset -5px -5px 10px #e9e9e978;   
}
.order-item .icon{
    display: flex;
    align-items: center;
}
.order-item:hover{
    background-color:var(--clr);
    border-radius: 5px;
}


#orders-in-progress,
#orders-completed{
    display: none;
}
.navbar{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}



.navigation {
    position: relative;
    width: 380px;
    height: 70px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.navigation ul li {

    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #000;
}

.navigation ul li.active a .icon {
    transform: translateY(-35px);
}
.navigation ul li:hover a .icon {
    transform: translateY(-35px);
}
.navigation ul li a .text {
    position: absolute;
    color: black;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(5px);
}

.navigation ul li:hover a .text {
    opacity: 1;
    transform: translateY(5px);
}

.indicator {
    position: absolute;
    top:-50%;
    width:70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--clr) ;
    transition: 0.5s;
}
.navigation ul li:nth-child(1).active ~.indicator {
    transform: translateX(calc(70px*0));
}
.navigation ul li:nth-child(2).active ~.indicator {
    transform: translateX(calc(70px*2));
}
.navigation ul li:nth-child(3).active ~.indicator {
    transform: translateX(calc(70px*4));
}
/*Modal*/
#modal::backdrop{
    background-color: rgba(0, 0, 0,.4);
}
#modalOrder{
    z-index: -999;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.116);
}
#modalOrder > .card {
    border-radius: 16px;
    width: 90%;
    height: 90%;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 1px 1px rgba(0, 0, 0,.6);
    position: relative;
}
#map{
    width: 100%;
    height: 60%;
    border-radius: 16px 16px 0px 0px;
}
.details {
    overflow-y: scroll;
}
.bottomModal {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 16px;
    justify-content: flex-end;
    display: flex;
}

.bottomModal > button:nth-child(2){
    border: none;
    padding: 8px 16px;
    background-color: #2a9e41;
    color: #fff;
    border-radius: 16px;
    margin-left: 8px;
}

.leaflet-bottom {
    display: none;
}
:root {
    --clr:  #01c2edb5;
}